*{
    margin: 0;
    padding: 0;
}
.first{
    display: flex;
    justify-content: center;
}
.jumbotron{
    height: 100vh !important;
}

@media screen and (max-width : 650px) {
    .first{
        display: inline;
        margin: auto;
    }
}
